html,body {margin:0;padding:0;background:#ffffff;width:100%;height:100%;}
p,td { font-family:Arial, Helvetica, sans-serif; margin-top: 0px;}
a img{border:0;}
a{color: #D2782C;text-decoration: underline;}
a:hover{color: #CB935A;text-decoration: underline;}
a.hidden {text-decoration: none;color: #000000;cursor:default;}
form {margin:0;padding:0;}
ul {margin-left:20px;margin-top:0px;padding:1px;list-style-type: square;line-height: 16px;}
h1 {font-size: 18px;font-weight: normal;color: #687d91;	margin: 0px; padding-bottom:10px;}
h2 {font-size: 14px;font-weight: bold;color: #BB6920;margin: 0px;padding-bottom:10px;}
.bottom_addr {font-size: 10px;color: #FFFFFF;padding-top: 8px;padding-right: 10px;padding-bottom: 8px;padding-left: 15px;text-align: center;}
.bottom_addr a {text-decoration:underline; color:#FFF;}
.bottom_addr a:hover {text-decoration: underline;}
.bottom_menu {color: #FFFFFF;text-align: center;padding-top: 23px;padding-bottom: 4px;font-family: Tahoma, Arial;font-size: 12px;}
.bottom_menu a {color: #FFFFFF;text-decoration: underline;}
.bottom_menu a:hover {color: #DCC2AB;text-decoration: underline;}
.menu {color: #FFFFFF;	background-image: url(../images/btn_bg.gif);background-repeat: repeat-x;font-weight: bold;padding-right: 10px;padding-left: 10px;white-space: nowrap;}
.menu a{text-decoration: none;color: #FFFFFF;}
.menu a:hover {color: #FFFFFF;text-decoration: underline;}
.body_txt {color: #000000;text-align: justify;padding: 10px 22px 10px 22px;vertical-align: top;	font-family: Tahoma, Arial;	font-size: 12px;}
.company_name {font-size: 22px;font-weight: normal;text-transform: none;color: #d96400;position: absolute;font-family: Tahoma, Arial;margin-top: 51px;margin-left: 17px;z-index: 2;}
.company_name_shadow{font-size: 22px;font-weight: normal;text-transform: none;color: #c2c1c2;position: absolute;font-family: Tahoma, Arial;margin-top: 52px;margin-left: 19px;z-index: 1;}
#wrap{position:relative; min-height:100%; margin:0 auto; width:750px;}
#conteiner{width:750px;padding-bottom:81px; height:100%; min-height:100%;}
#footer{width:750px;height:81px;position:relative;margin-top:-81px;margin-left:auto;margin-right:auto;	background-color: #ba8858;	background-image: url(../images/bbg.jpg);	background-repeat: no-repeat;	background-position: top;}
* html #wrap{height: 100%;}
.lmenu{background:url(../images/mbg.gif) repeat-y;padding-top: 6px;padding-bottom: 9px;}
.lmenu a{display:block;color: #FFFFFF;font-family: Tahoma, Arial;font-size: 12px;font-weight: bold;text-decoration: none;padding-top: 5px;padding-bottom: 7px;padding-left: 34px;background-image: url(../images/lbullet.gif);	background-repeat: no-repeat;background-position: 14px 8px;}
.lmenu a:hover{color:#FCDDAE;}
.lblock{background-image: url(../images/lbg.gif);background-repeat: repeat-y;background-position: right;font-size: 12px;padding-top: 12px;padding-right: 15px;padding-bottom: 12px;padding-left: 17px;}
